
/* TAGS */
/* -------------------- -------------------- -------------------- */
/* header */
header{
    height: 100px;
    backdrop-filter: blur(2px);
}
#background-header{
    background-image: url('../assets/imgs/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* -------------------- */
/* -------------------- -------------------- -------------------- */



/* TEMPLATE */
/* -------------------- -------------------- -------------------- */
/* class */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover:hover{
    transform: scale(0.97);
    opacity: 0.8;
}
.hoverUp:hover{
    transform: scale(1.1) !important;
}
/* -------------------- */
/* -------------------- -------------------- -------------------- */



/* PAGES */
/* -------------------- -------------------- -------------------- */
/* admin */
#solicitudesList > li ul li{
    background: transparent !important;
}
#solicitudesList > .col-12 ul:hover{
    background-color: #0d6dfd56;
    border: 1px solid #0d6dfd;
}
/* -------------------- */
/* home */
#formSelect > div{
    transform: rotateY(90deg);
    transition: transform 1s;
}
/* -------------------- */
/* request */
#form-request > ul .hidden{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .5s ease-in;
}
/* -------------------- */
/* -------------------- -------------------- -------------------- */



/* MEDIA */
/* -------------------- -------------------- -------------------- */
@media screen and (max-width: 576PX) {
    #solicitudesList .list-group .list-group-item::before{
        font-weight: bold;
        display: inline-block;
        width: 50%;
        word-break: break-all;
        border-right: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    }
    #solicitudesList .list-group .list-group-item:nth-child(1):before{
        content: attr(lang) "";
    }
    #solicitudesList .list-group .list-group-item:nth-child(2):before{
        content: attr(lang) "";
    }
    #solicitudesList .list-group .list-group-item:nth-child(3):before{
        content: attr(lang) "";
    }
    #solicitudesList .list-group .list-group-item:nth-child(4):before{
        content: attr(lang) "";
    }
    #solicitudesList .list-group .list-group-item:nth-child(5):before{
        content: attr(lang) "";
    }
}
/* -------------------- -------------------- -------------------- */